@model App.Models.UserAccount

@{
    ViewBag.Title = "LoggedIn";
}


<h4>Hello @Session["Username"].ToString()</h4>

<h4> Edit your personal info</h4>


@Html.ActionLink("Edit", "EditInfo", new { id = Model.UserID })




